@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
/*common*/
.btn-pink-rgba{
    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
}

.btn-pink-rgba:hover{
    opacity: 0.7;
}

/*login*/
.bg-login{
    height: 100vh;
    background-image: url("/assets/img/bg/bg-login.jpg");
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
}
.btn-login{
    width: 200px;
    border-radius: 20px;
    height: 38px;
}
.login-form{
    padding-top: 20vh;
}

/*admin header*/
.brand{
    height: 70px;
    padding-top: 18px;
    color: white;
    border-bottom: 1px solid white;
}
.nav-menu{
    background: #df453e;
    min-height: 100%;
    max-height: 200%;
}
.nav-item{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
}
.nav-item a li {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.nav-item a:hover li{
    background: #b62d25;
}

/*admin common*/
.btn-functions-admin{
    margin: 64px 0;
}
.button-67 {
    width: max-content;
    align-items: center;
    background: #df453e;
    border: 0;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    justify-content: center;
    line-height: 1.5rem;
    padding: 15px;
    position: relative;
    text-align: left;
    transition: .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    text-decoration: none;
    font-size: 24px;
}

.button-67:hover {
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
    color: #2a1f62;

}

.hover{
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
    color: #2a1f62;
}

@media (min-width: 768px) {
    .button-67 {
        padding: 24px;
    }
}