@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
/*common*/
.btn-pink-rgba{
    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
}

.btn-pink-rgba:hover{
    opacity: 0.7;
}

/*login*/
.bg-login{
    height: 100vh;
    background-image: url("/assets/img/bg/bg-login.jpg");
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
}
.btn-login{
    width: 200px;
    border-radius: 20px;
    height: 38px;
}
.login-form{
    padding-top: 20vh;
}

/*admin header*/
.brand{
    height: 70px;
    padding-top: 18px;
    color: white;
    border-bottom: 1px solid white;
}
.nav-menu{
    background: #CD5555;
    height: 100vh;
}
.nav-item{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
}
.nav-item a li {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.nav-item a:hover li{
    background: #fbceb5;
}